CustomTagHelper/CustomTagHelper/bin
CustomTagHelper/CustomTagHelper/obj
CustomTagHelper/.vs/CustomTagHelper/v17/.suo
CustomTagHelper/CustomTagHelperTest/bin
CustomTagHelper/CustomTagHelperTest/obj
CustomTagHelper/.vs
