CustomTagHelper/CustomTagHelper/bin
CustomTagHelper/CustomTagHelper/obj
CustomTagHelper/.vs/CustomTagHelper/v17/.suo
CustomTagHelper/CustomTagHelperTest/bin
CustomTagHelper/CustomTagHelperTest/obj
CustomTagHelper/.vs
.vs/
DDDDemo/DDD.Model.UnitTest/bin/
DDDDemo/DDD.Model.UnitTest/obj/
DDDDemo/DDD.Model/bin/
DDDDemo/DDD.Model/obj/
/AsyncDemo/AsyncDemo/bin/Debug/net6.0
/AsyncDemo/AsyncDemo/obj
/AsyncDemo/AsyncDemo.UnitTest/bin
/AsyncDemo/AsyncDemo.UnitTest/obj
/DDDDemo/DDD.Infrastructure/obj
/T4TemplateCore/T4TemplateCore/bin/Debug/net6.0
/T4TemplateCore/T4TemplateCore/obj
/T4TemplateCore/T4TemplateCore/T4/ModelHelper.cs
/T4TemplateCore/T4TemplateCore/T4/ModelPersistentTestTemplate.cs
/CleanArchitectureDemo/Infrastructure.UnitTest/bin
/CleanArchitectureDemo/Infrastructure.UnitTest/obj
/CleanArchitectureDemo/src/Core/bin/Debug/net6.0
/CleanArchitectureDemo/src/Core/obj
/CleanArchitectureDemo/src/Infrastructure/obj
/CleanArchitectureDemo/src/Shared/bin/Debug/net6.0
/CleanArchitectureDemo/src/Shared/obj
/CleanArchitectureDemo/src/Web/obj
/CleanArchitectureDemo/src/WebAPI/obj
/CleanArchitectureDemo/tests/Core.UnitTest/bin
/CleanArchitectureDemo/tests/Core.UnitTest/obj
/CleanArchitectureDemo/tests/Infrastructure.UnitTest/bin
/CleanArchitectureDemo/tests/Infrastructure.UnitTest/obj
/CleanArchitectureDemo/src/Infrastructure/bin/Debug/net6.0
/CleanArchitectureDemo/src/Web/bin/Debug/net6.0
/CleanArchitectureDemo/tests/Web.UnitTest/bin
/CleanArchitectureDemo/tests/Web.UnitTest/obj
