html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/**
* custom css
*/

/* nav header icon */

.navHeaderIcon {
    position: relative;   
}

    .navHeaderIcon i {
        font-size: 2em;
    }

    .navHeaderIcon span {
        position: absolute;
        top: 2px;
        right: 2px;
    }