@model IEnumerable<CustomTagHelper.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-action="Create">AJAX Create New</a>
</p>

@await Html.PartialAsync("_IndexPartialView.cshtml", Model)
