@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="ts-example">
    <br/>
    <button type="button" class="btn btn-primary btn-sm" onclick="TSButton()">
        Click me
    </button>
</div>

<div>
    <p id="ts-example-2">JQuery version is: </p>
</div>
